.country-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid #334155;
  height: 50px;
}

.country-name {
  font-size: 18px;
  font-family: 'Roboto';
  color: #ffffff;
}

.visited-button {
  width: 100px;
  height: 30px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #ffffff;
  background-color: #3b82f6;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.visit-text {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: normal;
  margin: 5px;
  margin-right: 20px;
}
